USE [master]
GO
/****** Object:  Database [DULICH]    Script Date: 12/4/2025 5:02:46 PM ******/
CREATE DATABASE [DULICH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DULICH', FILENAME = N'D:\Program Files\SQL sever\MSSQL16.SQLEXPRESS01\MSSQL\DATA\DULICH.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DULICH_log', FILENAME = N'D:\Program Files\SQL sever\MSSQL16.SQLEXPRESS01\MSSQL\DATA\DULICH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DULICH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DULICH]
GO
/****** Object:  User [IIS APPPOOL\Travela]    Script Date: 12/4/2025 5:02:46 PM ******/
CREATE USER [IIS APPPOOL\Travela] FOR LOGIN [IIS APPPOOL\Travela] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\Travela]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetAverageRatingForTour]    Script Date: 12/4/2025 5:02:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_GetAverageRatingForTour]
(
    @MaTour INT
)
RETURNS DECIMAL(3, 2) -- Trả về số như 4.50
AS
BEGIN
    DECLARE @AvgRating DECIMAL(3, 2);

    SELECT @AvgRating = AVG(CAST(SoSao AS DECIMAL(3, 2)))
    FROM DanhGia
    WHERE MaTour = @MaTour ;

    -- Trả về 0 nếu chưa có đánh giá
    RETURN ISNULL(@AvgRating, 0); 
END
GO
/****** Object:  Table [dbo].[BaiViet]    Script Date: 12/4/2025 5:02:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiViet](
	[MaBaiViet] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](255) NOT NULL,
	[TomTat] [nvarchar](500) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[HinhAnh] [varchar](255) NULL,
	[Tacgia] [nvarchar](max) NULL,
	[NgayDang] [datetime] NULL,
	[LuotXem] [int] NULL,
	[MaDanhMucBlog] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaiViet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 12/4/2025 5:02:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[MaBooking] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[MaTour] [varchar](10) NOT NULL,
	[NgayDat] [datetime] NULL,
	[NgayDi] [date] NOT NULL,
	[SoNguoi] [int] NOT NULL,
	[TongGia] [decimal](18, 2) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[ghichu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBooking] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 12/4/2025 5:02:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[YourName] [nvarchar](100) NOT NULL,
	[YourEmail] [varchar](100) NOT NULL,
	[Subject] [nvarchar](255) NULL,
	[Message] [nvarchar](max) NOT NULL,
	[SubmissionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatKeywords]    Script Date: 12/4/2025 5:02:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatKeywords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](100) NULL,
	[Keyword] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 12/4/2025 5:02:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SenderId] [nvarchar](128) NULL,
	[ReceiverId] [nvarchar](128) NULL,
	[Message] [nvarchar](max) NULL,
	[Timestamp] [datetime] NULL,
	[IsRead] [bit] NULL,
	[MaKH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 12/4/2025 5:02:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[IDDanhGia] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[SoSao] [int] NOT NULL,
	[NgayTao] [datetime] NULL,
	[MaBooking] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 12/4/2025 5:02:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDM] [varchar](10) NOT NULL,
	[TenDM] [varchar](50) NOT NULL,
	[soluongsanpham] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucBlog]    Script Date: 12/4/2025 5:02:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucBlog](
	[MaDanhMucBlog] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NOT NULL,
	[Slug] [varchar](100) NOT NULL,
	[Mota] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhMucBlog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaDiem]    Script Date: 12/4/2025 5:02:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaDiem](
	[MaDD] [varchar](10) NOT NULL,
	[TenDD] [nvarchar](100) NOT NULL,
	[ThanhPho] [nvarchar](100) NOT NULL,
	[QuocGia] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](250) NOT NULL,
	[HinhAnh] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[guide]    Script Date: 12/4/2025 5:02:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guide](
	[maguide] [int] IDENTITY(1,1) NOT NULL,
	[anhguide] [char](20) NULL,
	[tenguide] [nvarchar](250) NULL,
	[quoctich] [nvarchar](250) NULL,
	[tuoi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maguide] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/4/2025 5:02:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[SoDT] [nvarchar](15) NULL,
	[NgaySinh] [datetime] NULL,
	[UserId] [int] NULL,
	[GioiTinhKH] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhTrangTour]    Script Date: 12/4/2025 5:02:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhTrangTour](
	[Matinhtrang] [int] IDENTITY(1,1) NOT NULL,
	[Tentinhtrang] [nvarchar](250) NULL,
	[MaBooking] [int] NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Matinhtrang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour]    Script Date: 12/4/2025 5:02:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour](
	[MaTour] [varchar](10) NOT NULL,
	[TenTour] [nvarchar](100) NOT NULL,
	[Gia] [float] NOT NULL,
	[trangthai] [nvarchar](50) NOT NULL,
	[ThoiGian] [nvarchar](50) NOT NULL,
	[MaDD] [varchar](10) NOT NULL,
	[MaDM] [varchar](10) NOT NULL,
	[anhmota] [varchar](50) NULL,
	[mota] [nvarchar](max) NULL,
	[MaGuide] [int] NULL,
	[PhuongTien] [nvarchar](50) NULL,
 CONSTRAINT [PK__Tour__4E5557DE6AEB042F] PRIMARY KEY CLUSTERED 
(
	[MaTour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/4/2025 5:02:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Role] [nvarchar](50) NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BaiViet] ON 

SET IDENTITY_INSERT [dbo].[BaiViet] OFF
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([MaBooking], [MaKH], [MaTour], [NgayDat], [NgayDi], [SoNguoi], [TongGia], [TrangThai], [ghichu]) VALUES (1, 1, N'TOUR003', CAST(N'2025-11-15T03:26:16.607' AS DateTime), CAST(N'2025-11-13' AS Date), 1, CAST(1200.00 AS Decimal(18, 2)), N'Đã thanh toán', NULL)
INSERT [dbo].[Booking] ([MaBooking], [MaKH], [MaTour], [NgayDat], [NgayDi], [SoNguoi], [TongGia], [TrangThai], [ghichu]) VALUES (2, 1, N'TOUR003', CAST(N'2025-11-15T03:29:54.283' AS DateTime), CAST(N'0001-01-01' AS Date), 1, CAST(1200.00 AS Decimal(18, 2)), N'Đã thanh toán', NULL)
INSERT [dbo].[Booking] ([MaBooking], [MaKH], [MaTour], [NgayDat], [NgayDi], [SoNguoi], [TongGia], [TrangThai], [ghichu]) VALUES (3, 1, N'TOUR002', CAST(N'2025-11-15T03:39:30.797' AS DateTime), CAST(N'0001-01-01' AS Date), 1, CAST(1850.50 AS Decimal(18, 2)), N'Đã thanh toán', NULL)
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatKeywords] ON 

INSERT [dbo].[ChatKeywords] ([Id], [Category], [Keyword]) VALUES (1, N'nhật', N'nhật')
INSERT [dbo].[ChatKeywords] ([Id], [Category], [Keyword]) VALUES (2, N'nhật', N'japan')
INSERT [dbo].[ChatKeywords] ([Id], [Category], [Keyword]) VALUES (3, N'nhật', N'tokyo')
GO
SET IDENTITY_INSERT [dbo].[ChatKeywords] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatMessages] ON 

INSERT [dbo].[ChatMessages] ([Id], [SenderId], [ReceiverId], [Message], [Timestamp], [IsRead], [MaKH]) VALUES (1, N'nguyentantuan2005bt@gmail.com', N'Admin', N'abc', CAST(N'2025-11-20T03:39:46.183' AS DateTime), 0, 1)
INSERT [dbo].[ChatMessages] ([Id], [SenderId], [ReceiverId], [Message], [Timestamp], [IsRead], [MaKH]) VALUES (2, N'nguyentantuan2005bt@gmail.com', N'Admin', N'abc', CAST(N'2025-11-20T03:47:33.797' AS DateTime), 0, 1)
INSERT [dbo].[ChatMessages] ([Id], [SenderId], [ReceiverId], [Message], [Timestamp], [IsRead], [MaKH]) VALUES (3, N'nguyentantuan2005bt@gmail.com', N'Admin', N'adđ', CAST(N'2025-11-20T03:50:43.740' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[ChatMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhGia] ON 

INSERT [dbo].[DanhGia] ([IDDanhGia], [NoiDung], [SoSao], [NgayTao], [MaBooking]) VALUES (1, N'Chuyến đi Paris thật tuyệt vời! Rất lãng mạn và sang trọng. Hướng dẫn viên (MaGuide) rất am hiểu và chuyên nghiệp. Dịch vụ đẳng cấp 5 sao.', 5, CAST(N'2025-11-15T04:57:42.060' AS DateTime), 1)
INSERT [dbo].[DanhGia] ([IDDanhGia], [NoiDung], [SoSao], [NgayTao], [MaBooking]) VALUES (2, N'Kyoto rất đẹp và cổ kính, nhưng đồ ăn hơi lạ. Khách sạn truyền thống (ryokan) rất thú vị. Tour đi bộ hơi nhiều, nên chuẩn bị sức khỏe.', 4, CAST(N'2025-11-15T04:57:42.063' AS DateTime), 1)
INSERT [dbo].[DanhGia] ([IDDanhGia], [NoiDung], [SoSao], [NgayTao], [MaBooking]) VALUES (3, N'Ẩm thực Ý quá ngon! Tôi đã học được cách làm mỳ Pasta. Tuy nhiên, lịch trình hơi dày đặc, thời gian ăn uống hơi gấp gáp.', 4, CAST(N'2025-11-15T04:57:42.063' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[DanhGia] OFF
GO
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM], [soluongsanpham]) VALUES (N'DM01', N'Leisure Tours', NULL)
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM], [soluongsanpham]) VALUES (N'DM02', N'Adventure Tours', NULL)
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM], [soluongsanpham]) VALUES (N'DM03', N'Cultural & Historical Tours', NULL)
GO
SET IDENTITY_INSERT [dbo].[DanhMucBlog] ON 

INSERT [dbo].[DanhMucBlog] ([MaDanhMucBlog], [TenDanhMuc], [Slug], [Mota]) VALUES (1, N'Mẹo Vặt Du Lịch', N'meo-vat-du-lich', N'Các mẹo và thủ thuật hữu ích cho chuyến đi.')
INSERT [dbo].[DanhMucBlog] ([MaDanhMucBlog], [TenDanhMuc], [Slug], [Mota]) VALUES (2, N'Review Điểm Đến', N'review-diem-den', N'Đánh giá chi tiết các địa điểm du lịch nổi tiếng.')
INSERT [dbo].[DanhMucBlog] ([MaDanhMucBlog], [TenDanhMuc], [Slug], [Mota]) VALUES (3, N'Tin Tức & Khuyến Mãi', N'tin-tuc-khuyen-mai', N'Tin tức mới nhất và các chương trình ưu đãi.')
SET IDENTITY_INSERT [dbo].[DanhMucBlog] OFF
GO
INSERT [dbo].[DiaDiem] ([MaDD], [TenDD], [ThanhPho], [QuocGia], [MoTa], [HinhAnh]) VALUES (N'DD001', N'Tháp Eiffel', N'Paris', N'France', N'Biểu tượng nổi tiếng của Paris, nơi lý tưởng để ngắm toàn cảnh thành phố.', N'Paris.png')
INSERT [dbo].[DiaDiem] ([MaDD], [TenDD], [ThanhPho], [QuocGia], [MoTa], [HinhAnh]) VALUES (N'DD002', N'Đền Kiyomizu-dera', N'Kyoto', N'Japan', N'Ngôi đền cổ kính nằm trên đồi với tầm nhìn tuyệt đẹp vào mùa lá đỏ.', N'Kyoto.png')
INSERT [dbo].[DiaDiem] ([MaDD], [TenDD], [ThanhPho], [QuocGia], [MoTa], [HinhAnh]) VALUES (N'DD003', N'Nhà thờ Duomo', N'Florence', N'Italy', N'Kiệt tác kiến trúc Phục Hưng với mái vòm lớn và nghệ thuật tinh xảo.', N'Florence.png')
GO
SET IDENTITY_INSERT [dbo].[guide] ON 

INSERT [dbo].[guide] ([maguide], [anhguide], [tenguide], [quoctich], [tuoi]) VALUES (1, N'RickSteves.png      ', N'Rick Steves', N'Hoa Kỳ', 68)
INSERT [dbo].[guide] ([maguide], [anhguide], [tenguide], [quoctich], [tuoi]) VALUES (2, N'SamBrown.png        ', N'Samantha Brown', N'Hoa Kỳ', 54)
INSERT [dbo].[guide] ([maguide], [anhguide], [tenguide], [quoctich], [tuoi]) VALUES (3, N'EwaldBiemans.png    ', N'Ewald Biemans', N'Aruba', 75)
SET IDENTITY_INSERT [dbo].[guide] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [Email], [SoDT], [NgaySinh], [UserId], [GioiTinhKH]) VALUES (1, N'Nguyễn Tấn Tuấn', N'nguyentantuan2005bt@gmail.com', N'0868376972', CAST(N'2005-06-12T00:00:00.000' AS DateTime), 1, N'Nam')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [Email], [SoDT], [NgaySinh], [UserId], [GioiTinhKH]) VALUES (2, N'Nguyễn Tấn Tuấn', N'ngukyentantuan2005bt@gmail.com', N'0868376977', CAST(N'2025-11-12T00:00:00.000' AS DateTime), 5, N'Nam')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [Email], [SoDT], [NgaySinh], [UserId], [GioiTinhKH]) VALUES (3, N'Nguyễn Tấn Tuấn', N'nguyentantuan200t5bt@gmail.com', N'0868376572', CAST(N'2025-11-12T00:00:00.000' AS DateTime), 6, N'Nam')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[TinhTrangTour] ON 

INSERT [dbo].[TinhTrangTour] ([Matinhtrang], [Tentinhtrang], [MaBooking], [TrangThai]) VALUES (2, N'Tour đã kết thúc', 42, 1)
INSERT [dbo].[TinhTrangTour] ([Matinhtrang], [Tentinhtrang], [MaBooking], [TrangThai]) VALUES (3, N'Tour đã kết thúc', 45, 1)
INSERT [dbo].[TinhTrangTour] ([Matinhtrang], [Tentinhtrang], [MaBooking], [TrangThai]) VALUES (4, N'Tour đã kết thúc', 69, 1)
SET IDENTITY_INSERT [dbo].[TinhTrangTour] OFF
GO
INSERT [dbo].[Tour] ([MaTour], [TenTour], [Gia], [trangthai], [ThoiGian], [MaDD], [MaDM], [anhmota], [mota], [MaGuide], [PhuongTien]) VALUES (N'TOUR001', N'Luxury Honeymoon Paris 7N6Đ', 35000, N'Sẵn sàng', N'7 Ngày', N'DD001', N'DM08', N'Paris.png', N'Chuyến đi lãng mạn cao cấp, bao gồm du thuyền trên sông Seine và khách sạn 5 sao.', NULL, NULL)
INSERT [dbo].[Tour] ([MaTour], [TenTour], [Gia], [trangthai], [ThoiGian], [MaDD], [MaDM], [anhmota], [mota], [MaGuide], [PhuongTien]) VALUES (N'TOUR002', N'Kyoto Cổ Kính & Văn Hóa 8 Ngày', 1850.5, N'Giới hạn', N'8 Ngày', N'DD002', N'DM03', N'Kyoto.png', N'Khám phá các đền thờ cổ, trà đạo truyền thống và khu phố Gion.', NULL, NULL)
INSERT [dbo].[Tour] ([MaTour], [TenTour], [Gia], [trangthai], [ThoiGian], [MaDD], [MaDM], [anhmota], [mota], [MaGuide], [PhuongTien]) VALUES (N'TOUR003', N'Ẩm Thực Phục Hưng Florence 6 Ngày', 1200, N'Sẵn sàng', N'6 Ngày', N'DD003', N'DM04', N'Florence.png', N'Học làm Pasta, nếm rượu vang Chianti và thăm chợ trung tâm.', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Name], [Email], [Role], [PasswordHash], [CreatedAt]) VALUES (1, N'nguyentantuan2005bt@gmail.com', N'nguyentantuan2005bt@gmail.com', N'Customer', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', CAST(N'2025-11-14T20:14:24.103' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Name], [Email], [Role], [PasswordHash], [CreatedAt]) VALUES (3, N'Nguyễn Tấn Tuấn', N'sse2@exasmple.com', N'Admin', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', CAST(N'2025-11-12T00:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Name], [Email], [Role], [PasswordHash], [CreatedAt]) VALUES (5, N'sse2@exasmple.com', N'ngukyentantuan2005bt@gmail.com', N'Employee', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', CAST(N'2025-11-14T23:55:21.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DanhMucB__BC7B5FB61202EBBD]    Script Date: 12/4/2025 5:02:46 PM ******/
ALTER TABLE [dbo].[DanhMucBlog] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BaiViet] ADD  DEFAULT (getdate()) FOR [NgayDang]
GO
ALTER TABLE [dbo].[BaiViet] ADD  DEFAULT ((0)) FOR [LuotXem]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT (N'Chờ xác nhận') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Contact] ADD  DEFAULT (getdate()) FOR [SubmissionDate]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[DanhGia] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TinhTrangTour] ADD  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[BaiViet]  WITH CHECK ADD FOREIGN KEY([MaDanhMucBlog])
REFERENCES [dbo].[DanhMucBlog] ([MaDanhMucBlog])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_KhachHang]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Tours] FOREIGN KEY([MaTour])
REFERENCES [dbo].[Tour] ([MaTour])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Tours]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_KhachHang]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_Booking] FOREIGN KEY([MaBooking])
REFERENCES [dbo].[Booking] ([MaBooking])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_Booking]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TinhTrangTour]  WITH CHECK ADD  CONSTRAINT [FK_ttt_bk] FOREIGN KEY([MaBooking])
REFERENCES [dbo].[Booking] ([MaBooking])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TinhTrangTour] CHECK CONSTRAINT [FK_ttt_bk]
GO
ALTER TABLE [dbo].[Tour]  WITH CHECK ADD  CONSTRAINT [FK__Tour__MaDD__6442E2C9] FOREIGN KEY([MaDD])
REFERENCES [dbo].[DiaDiem] ([MaDD])
GO
ALTER TABLE [dbo].[Tour] CHECK CONSTRAINT [FK__Tour__MaDD__6442E2C9]
GO
ALTER TABLE [dbo].[Tour]  WITH CHECK ADD  CONSTRAINT [FK__Tour__MaDM__65370702] FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMuc] ([MaDM])
GO
ALTER TABLE [dbo].[Tour] CHECK CONSTRAINT [FK__Tour__MaDM__65370702]
GO
ALTER TABLE [dbo].[Tour]  WITH CHECK ADD  CONSTRAINT [FK_Tours_Guide] FOREIGN KEY([MaGuide])
REFERENCES [dbo].[guide] ([maguide])
GO
ALTER TABLE [dbo].[Tour] CHECK CONSTRAINT [FK_Tours_Guide]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD CHECK  (([SoNguoi]>(0)))
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD CHECK  (([SoSao]>=(1) AND [SoSao]<=(5)))
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [CK_DanhGia_SoSao] CHECK  (([SoSao]>=(1) AND [SoSao]<=(5)))
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [CK_DanhGia_SoSao]
GO
ALTER TABLE [dbo].[TinhTrangTour]  WITH CHECK ADD  CONSTRAINT [CK_TinhTrang_HieuLuc] CHECK  (([TrangThai]=(1) OR [TrangThai]=(0)))
GO
ALTER TABLE [dbo].[TinhTrangTour] CHECK CONSTRAINT [CK_TinhTrang_HieuLuc]
GO
ALTER TABLE [dbo].[Tour]  WITH CHECK ADD  CONSTRAINT [CK_Tours_PhuongTien] CHECK  (([PhuongTien]=N'Du thuyền' OR [PhuongTien]=N'Máy bay' OR [PhuongTien]=N'Tàu hỏa'))
GO
ALTER TABLE [dbo].[Tour] CHECK CONSTRAINT [CK_Tours_PhuongTien]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_ValidRole] CHECK  (([Role]='Employee' OR [Role]='Customer' OR [Role]='Admin'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_ValidRole]
GO
USE [master]
GO
